.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2 {
        margin: 10px 0;
    }

    .button-container {
        gap: 10px;
        display: flex;
        
    }
}